.canvasFullScreen {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 0;
}

.canvasFullScreen canvas {
  background-color: var(--global-background);
}

.info {
  background-color: var(--content-background);
  display: inline-block;
  left: var(--global-gap);
  font-size: 80%;
  max-width: 300px;
  padding: var(--global-gap);
  position: relative;
  top: calc(var(--page-horizontal-gap) + var(--global-gap));
}

.info__title {
  border-bottom: 1px solid white;
  display: inline-block;
  margin: 0;
  text-transform: uppercase;
}

@counter-style space-counter {
  system: fixed;
  symbols: 🔭 🛰️ 🚀 🛸;
  suffix: " ";
}

.info__list {
  list-style: space-counter;
  padding-left: 1.4em;
  margin-top: var(--global-gap);
}

.info__list li {
  margin-bottom: 0.6em;
}

.info__list li:last-child {
  margin-bottom: auto;
}
