.canvasFullScreen {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 0;
}

.canvasFullScreen canvas {
  background-color: var(--global-background);
}

.canvas--bckgd-dark-blue canvas {
  background-color: darkblue;
}

.info {
  background-color: var(--content-background);
  display: inline-block;
  left: var(--global-gap);
  max-width: 300px;
  padding: var(--global-gap);
  position: relative;
  top: calc(var(--page-horizontal-gap) + var(--global-gap));
}

.info__title {
  display: inline-block;
  font-size: 1.38em;
  margin: 0;
}

@counter-style space-counter {
  system: fixed;
  symbols: 📙 🛰️ 💻 🚀 🛸;
  suffix: " ";
}

.info__list {
  list-style: space-counter;
  padding-left: 1.4em;
  margin-top: var(--global-gap);
}

.info__list li {
  margin-bottom: 0.6em;
  padding-left: 0.5em;
}

.info__list li:last-child {
  margin-bottom: auto;
}

.info__list li a {
  text-decoration: underline;
}
